.home {
    background-color: $lightColor;
    display: grid;
    height: 100vh;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 1fr 150px;
    grid-template-areas: "sidebar primary "
                         "sidebar featuring "  ;
}

.home-sidebar {
    grid-area: sidebar;
}
.home-primary {
    grid-area: primary;
}
.home-featuring {
    grid-area: featuring;
}